@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('Tipografias/Playlist\ Script.otf    ') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{   
    background-image: url('Imagenes/Coffee Bean Brown Wallpaper.jfif');
    background-position: center;
    position: relative;
    display: grid;
    grid-template-rows:
    auto 1fr auto;
    min-height: 100vh;
    text-align: center;
}
header{ 
    background-color: rgb(218, 192, 168);  
}
footer{ 
    background-color: #dac0a8;
}
nav{
    background-color:#c2ab96 ;
    list-style-type:circle;
    margin: 0;
    padding: 0;
}
section{
    padding: 5px;
    min-height: 80vh;
}
nav a{
    text-decoration: none;
    color: black;
    padding-left: 40px;
}
.menu{
    margin: 10px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(218, 192, 168, 0.7); 
}
.nosotros{
    background-color: rgb(218, 192, 168, 0.7); 
    border-radius: 15px;
    text-align: center;
}
.tabla-precios th,
.tabla-precios td{
    border: 3px solid #6b4f32;
    padding: 16px 20px;
    background-color: rgba(255, 255, 255, 0.9);
}
.tabla-precios th{
    background-color: #c2ab96;
    color: #2f1b0c;
    font-size: 25px;
}
.formulario{
    background-color: rgb(218, 192, 168, 0.7);
    border: 5px solid black;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

textarea{
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 8px 0 16px;
    border-radius: 10px;
    border: 1px solid #333;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario select {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 8px 0 16px;
    border-radius: 10px;
    border: 1px solid #333;
}
#otros-detalles {
    width: 90%;
    max-width: 500px;
}
.formulario input[type="submit"] {
    width: 50%;
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.tabla-precios{
    display: grid;
    background-color: rgb(218, 192, 168, 0.7);
    border: 3px solid #6b4f32;
}