@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('Tipografias/Playlist\ Script.otf    ') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{   
    background-image: url('Imagenes/Coffee Bean Brown Wallpaper.jfif');
    background-position: center;
    position: relative;
    display: grid;
    grid-template-rows:
    auto 1fr auto;
    min-height: 100vh;
}
header{ 
    background-color: #dac0a8;  
}
footer{ 
    background-color: #dac0a8;
}
ul{
    font-size: 20px;
    margin: 0;
}   
p{
    font-size: 20px;
}
nav{
    background-color:#c2ab96 ;
    list-style-type:circle;
    margin: 0;
    padding: 0;
}
section{
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
}